html {
  font-size: 62.5%; }

img {
  display: block;
  max-width: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: url(../Assets/mainBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

@font-face {
  font-family: "duck Hunt Font";
  src: url(../Assets/Duck_Hunt/duckhunt.ttf) format("truetype"); }

html {
  font-family: "duck Hunt Font", sans-serif, tahoma;
  font-size: 62.5%; }

.cursor {
  cursor: url(../Assets/swatter.png), auto; }

.swatting {
  cursor: url(../Assets/swatter2.png), auto; }

header {
  position: absolute;
  right: 0;
  left: 0; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative; }

.start-menu,
.game-over-menu {
  background: #fafafa;
  margin: auto;
  padding: 20px 60px 70px 60px;
  text-align: center;
  border-radius: 10%;
  border: 1px solid black; }

h1 {
  font-size: 10rem;
  text-align: center;
  color: #191919;
  -webkit-animation: flash 3s infinite;
  animation: flash 3s infinite; }

p {
  font-size: 16px;
  font-family: 'Press Start 2P', sans-serif;
  margin: 0;
  line-height: 1.6; }

.start-game-button,
.start-over {
  font-size: 40px;
  -webkit-box-shadow: 2px 3px 3px #191919;
  box-shadow: 2px 3px 3px #191919;
  border: 2px solid grey;
  margin-top: 30px; }
  .start-game-button:active,
  .start-over:active {
    -webkit-box-shadow: 0px 0px 1px #191919;
    box-shadow: 0px 0px 1px #191919;
    color: tomato; }
  .start-game-button:hover,
  .start-over:hover {
    background: lightblue; }

.bugs {
  width: 90px;
  height: 90px;
  position: absolute;
  bottom: 45px;
  -webkit-animation: bug-movement 4s linear infinite;
  animation: bug-movement 4s linear infinite;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.doug {
  width: 90px;
  height: 90px;
  position: absolute;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  -webkit-animation: doug 7s linear infinite;
  animation: doug 7s linear infinite; }

.invisible {
  display: none; }

.game-over-menu {
  padding-bottom: 40px; }

.game-menu-title {
  font-size: 6rem;
  margin: 0; }

.game-over-title {
  padding-top: 20px;
  padding-left: 1px; }

.status-bar {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px; }

@-webkit-keyframes bug-movement {
  from {
    -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
    transform: rotate(0deg) translateX(100px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
    transform: rotate(360deg) translateX(100px) rotate(-360deg); } }

@keyframes bug-movement {
  from {
    -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
    transform: rotate(0deg) translateX(100px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
    transform: rotate(360deg) translateX(100px) rotate(-360deg); } }

@-webkit-keyframes doug {
  from {
    -webkit-transform: rotate(0deg) translateY(0);
    transform: rotate(0deg) translateY(0);
    bottom: 0%; }
  50% {
    bottom: 100%; }
  to {
    -webkit-transform: rotate(360deg) translateY(0);
    transform: rotate(360deg) translateY(0);
    bottom: 0%; } }

@keyframes doug {
  from {
    -webkit-transform: rotate(0deg) translateY(0);
    transform: rotate(0deg) translateY(0);
    bottom: 0%; }
  50% {
    bottom: 100%; }
  to {
    -webkit-transform: rotate(360deg) translateY(0);
    transform: rotate(360deg) translateY(0);
    bottom: 0%; } }

@-webkit-keyframes flash {
  0% {
    color: #191919; }
  50% {
    color: #fafafa;
    -webkit-text-stroke-color: #191919;
    -webkit-text-stroke-width: 3px; }
  100% {
    color: #191919; } }

@keyframes flash {
  0% {
    color: #191919; }
  50% {
    color: #fafafa;
    -webkit-text-stroke-color: #191919;
    -webkit-text-stroke-width: 3px; }
  100% {
    color: #191919; } }

@media (max-width: 900px) {
  .wrapper {
    max-width: 700px; }
  .start-menu .start-menu {
    background: #fafafa;
    text-align: center;
    border-radius: 10%;
    border: 1px solid black; }
  h1 {
    font-size: 8rem;
    text-align: center;
    color: #191919;
    -webkit-animation: flash 3s infinite;
    animation: flash 3s infinite; }
  .game-menu-title {
    margin: 0;
    font-size: 3rem; }
  p {
    text-align: center; } }

@media (max-width: 700px) {
  .wrapper {
    max-width: 500px; }
  h1 {
    font-size: 5rem;
    margin: 20px 0; }
  p {
    font-size: 1.5rem; }
  .start-menu {
    padding: 20px 20px; } }

@media (max-width: 500px) {
  .wrapper {
    max-width: 400px; }
  .game-menu-title {
    font-size: 2rem;
    text-align: center;
    padding-left: 0; }
  p {
    font-size: 1.2rem; }
  h1 {
    font-size: 5rem; }
  .start-game-button,
  .start-over {
    font-size: 30px;
    -webkit-box-shadow: 2px 3px 3px #191919;
    box-shadow: 2px 3px 3px #191919;
    border: 2px solid grey;
    margin-top: 20px; } }

@media (max-width: 340px) {
  .wrapper {
    max-width: 300px; }
  p {
    font-size: 1rem;
    text-align: center; } }
